<launch>

  <node pkg="ur5e_controller" type="camera_marker_publisher.py" name="camera_marker_publisher" output="screen" />

  <include file="$(find ur10e_moveit_config)/launch/demo.launch" />

  <node pkg="ur5e_controller" type="moveit_target_follower.py" name="target_follower" output="screen" />
  
  <node pkg="ur5e_controller" type="camera_simulator.py" name="camera_simulator" output="screen" />
  <node pkg="ur5e_controller" type="static_tf_broadcaster.py" name="static_tf_broadcaster" output="screen" />

</launch>
